-- MySQL dump 10.13  Distrib 8.1.0, for Win64 (x86_64)
--
-- Host: localhost    Database: cat_adoption_system
-- ------------------------------------------------------
-- Server version	8.1.0

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `adoption_agreement`
--

DROP TABLE IF EXISTS `adoption_agreement`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `adoption_agreement` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `agreement_no` varchar(40) NOT NULL,
  `application_id` varchar(12) NOT NULL,
  `cat_id` varchar(12) NOT NULL,
  `user_id` varchar(12) NOT NULL,
  `content` text,
  `handover_time` datetime DEFAULT NULL,
  `handover_place` varchar(200) DEFAULT NULL,
  `handover_person` varchar(80) DEFAULT NULL,
  `remark` varchar(500) DEFAULT NULL,
  `status` varchar(30) NOT NULL DEFAULT 'DRAFT',
  `deleted` tinyint(1) NOT NULL DEFAULT '0',
  `create_by` varchar(12) DEFAULT NULL,
  `update_by` varchar(12) DEFAULT NULL,
  `create_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `update_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `adopter_id` varchar(12) DEFAULT NULL,
  `agreement_content` text,
  `generated_time` datetime DEFAULT NULL,
  `handover_location` varchar(200) DEFAULT NULL,
  `handover_user_id` varchar(12) DEFAULT NULL,
  `adopter_confirmed` tinyint(1) NOT NULL DEFAULT '0',
  `volunteer_confirmed` tinyint(1) NOT NULL DEFAULT '0',
  PRIMARY KEY (`id`),
  UNIQUE KEY `agreement_no` (`agreement_no`),
  UNIQUE KEY `uk_agreement_application_active` (`application_id`,`deleted`),
  KEY `idx_agreement_application` (`application_id`),
  KEY `idx_agreement_cat` (`cat_id`),
  KEY `idx_agreement_user` (`user_id`),
  KEY `idx_agreement_status` (`status`),
  KEY `idx_agreement_adopter` (`adopter_id`),
  KEY `idx_agreement_generated_time` (`generated_time`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `adoption_agreement`
--

LOCK TABLES `adoption_agreement` WRITE;
/*!40000 ALTER TABLE `adoption_agreement` DISABLE KEYS */;
/*!40000 ALTER TABLE `adoption_agreement` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `adoption_audit`
--

DROP TABLE IF EXISTS `adoption_audit`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `adoption_audit` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `application_id` varchar(12) NOT NULL,
  `cat_id` varchar(12) DEFAULT NULL,
  `user_id` varchar(12) DEFAULT NULL,
  `auditor_id` varchar(12) NOT NULL,
  `audit_stage` varchar(30) NOT NULL,
  `audit_result` varchar(30) NOT NULL,
  `audit_opinion` varchar(500) NOT NULL,
  `risk_score` decimal(5,2) DEFAULT NULL,
  `risk_tags` varchar(500) DEFAULT NULL,
  `status` varchar(30) NOT NULL DEFAULT 'VALID',
  `deleted` tinyint(1) NOT NULL DEFAULT '0',
  `create_by` varchar(12) DEFAULT NULL,
  `update_by` varchar(12) DEFAULT NULL,
  `create_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `update_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `before_status` varchar(30) DEFAULT NULL,
  `after_status` varchar(30) DEFAULT NULL,
  `audit_time` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_adoption_audit_application` (`application_id`),
  KEY `idx_adoption_audit_auditor` (`auditor_id`),
  KEY `idx_adoption_audit_stage` (`audit_stage`),
  KEY `idx_adoption_audit_create_time` (`create_time`),
  KEY `idx_adoption_audit_app_stage` (`application_id`,`audit_stage`),
  KEY `idx_adoption_audit_auditor_time` (`auditor_id`,`audit_time`)
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `adoption_audit`
--

LOCK TABLES `adoption_audit` WRITE;
/*!40000 ALTER TABLE `adoption_audit` DISABLE KEYS */;
/*!40000 ALTER TABLE `adoption_audit` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `adoption_audit_risk_tag`
--

DROP TABLE IF EXISTS `adoption_audit_risk_tag`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `adoption_audit_risk_tag` (
  `audit_id` bigint NOT NULL,
  `tag_name` varchar(40) NOT NULL,
  PRIMARY KEY (`audit_id`,`tag_name`),
  CONSTRAINT `fk_audit_risk_tag_audit` FOREIGN KEY (`audit_id`) REFERENCES `adoption_audit` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `adoption_audit_risk_tag`
--

LOCK TABLES `adoption_audit_risk_tag` WRITE;
/*!40000 ALTER TABLE `adoption_audit_risk_tag` DISABLE KEYS */;
/*!40000 ALTER TABLE `adoption_audit_risk_tag` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `application_risk_tag`
--

DROP TABLE IF EXISTS `application_risk_tag`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `application_risk_tag` (
  `application_id` varchar(12) NOT NULL,
  `tag_name` varchar(40) NOT NULL,
  PRIMARY KEY (`application_id`,`tag_name`),
  CONSTRAINT `fk_application_risk_tag_application` FOREIGN KEY (`application_id`) REFERENCES `t_application` (`application_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `application_risk_tag`
--

LOCK TABLES `application_risk_tag` WRITE;
/*!40000 ALTER TABLE `application_risk_tag` DISABLE KEYS */;
/*!40000 ALTER TABLE `application_risk_tag` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `application_score_reason`
--

DROP TABLE IF EXISTS `application_score_reason`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `application_score_reason` (
  `application_id` varchar(12) NOT NULL,
  `reason_order` int NOT NULL,
  `reason_text` varchar(300) NOT NULL,
  `score_delta` int DEFAULT NULL,
  PRIMARY KEY (`application_id`,`reason_order`),
  CONSTRAINT `fk_score_reason_application_live` FOREIGN KEY (`application_id`) REFERENCES `t_application` (`application_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `application_score_reason`
--

LOCK TABLES `application_score_reason` WRITE;
/*!40000 ALTER TABLE `application_score_reason` DISABLE KEYS */;
/*!40000 ALTER TABLE `application_score_reason` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `article_tag`
--

DROP TABLE IF EXISTS `article_tag`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `article_tag` (
  `article_id` int NOT NULL,
  `tag_name` varchar(40) NOT NULL,
  PRIMARY KEY (`article_id`,`tag_name`),
  CONSTRAINT `fk_article_tag_article_live` FOREIGN KEY (`article_id`) REFERENCES `t_article` (`article_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `article_tag`
--

LOCK TABLES `article_tag` WRITE;
/*!40000 ALTER TABLE `article_tag` DISABLE KEYS */;
INSERT INTO `article_tag` VALUES (1,'回访'),(1,'照护'),(1,'认养'),(2,'医疗'),(2,'疫苗'),(2,'绝育');
/*!40000 ALTER TABLE `article_tag` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cat_tag`
--

DROP TABLE IF EXISTS `cat_tag`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cat_tag` (
  `cat_id` varchar(12) NOT NULL,
  `tag_name` varchar(40) NOT NULL,
  PRIMARY KEY (`cat_id`,`tag_name`),
  CONSTRAINT `fk_cat_tag_cat_live` FOREIGN KEY (`cat_id`) REFERENCES `t_cat` (`cat_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cat_tag`
--

LOCK TABLES `cat_tag` WRITE;
/*!40000 ALTER TABLE `cat_tag` DISABLE KEYS */;
INSERT INTO `cat_tag` VALUES ('CAT260705001','RP260705001'),('CAT260705001','屯溪路校区'),('CAT260705001','线索建档');
/*!40000 ALTER TABLE `cat_tag` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `followup_record`
--

DROP TABLE IF EXISTS `followup_record`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `followup_record` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `task_id` bigint NOT NULL,
  `application_id` varchar(12) DEFAULT NULL,
  `cat_id` varchar(12) DEFAULT NULL,
  `user_id` varchar(12) NOT NULL,
  `cat_condition` varchar(500) NOT NULL,
  `environment_description` varchar(500) NOT NULL,
  `photo_url` varchar(500) DEFAULT NULL,
  `abnormal_flag` tinyint(1) NOT NULL DEFAULT '0',
  `abnormal_description` varchar(500) DEFAULT NULL,
  `status` varchar(30) NOT NULL DEFAULT 'SUBMITTED',
  `deleted` tinyint(1) NOT NULL DEFAULT '0',
  `create_by` varchar(12) DEFAULT NULL,
  `update_by` varchar(12) DEFAULT NULL,
  `create_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `update_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `agreement_id` bigint DEFAULT NULL,
  `adopter_id` varchar(12) DEFAULT NULL,
  `content` varchar(1000) DEFAULT NULL,
  `environment_desc` varchar(500) DEFAULT NULL,
  `abnormal_desc` varchar(500) DEFAULT NULL,
  `volunteer_comment` varchar(500) DEFAULT NULL,
  `submit_time` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_followup_record_task` (`task_id`),
  KEY `idx_followup_record_application` (`application_id`),
  KEY `idx_followup_record_cat` (`cat_id`),
  KEY `idx_followup_record_user` (`user_id`),
  KEY `idx_followup_record_abnormal` (`abnormal_flag`),
  KEY `idx_followup_record_adopter` (`adopter_id`),
  KEY `idx_followup_record_submit_time` (`submit_time`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `followup_record`
--

LOCK TABLES `followup_record` WRITE;
/*!40000 ALTER TABLE `followup_record` DISABLE KEYS */;
/*!40000 ALTER TABLE `followup_record` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `followup_task`
--

DROP TABLE IF EXISTS `followup_task`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `followup_task` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `application_id` varchar(12) NOT NULL,
  `agreement_id` bigint DEFAULT NULL,
  `cat_id` varchar(12) NOT NULL,
  `user_id` varchar(12) NOT NULL,
  `plan_date` date NOT NULL,
  `round_name` varchar(30) NOT NULL,
  `status` varchar(30) NOT NULL DEFAULT 'PENDING',
  `handler_id` varchar(12) DEFAULT NULL,
  `completed_time` datetime DEFAULT NULL,
  `abnormal_flag` tinyint(1) NOT NULL DEFAULT '0',
  `deleted` tinyint(1) NOT NULL DEFAULT '0',
  `create_by` varchar(12) DEFAULT NULL,
  `update_by` varchar(12) DEFAULT NULL,
  `create_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `update_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `adopter_id` varchar(12) DEFAULT NULL,
  `actual_date` date DEFAULT NULL,
  `task_type` varchar(30) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_followup_application_task_active` (`application_id`,`task_type`,`deleted`),
  KEY `idx_followup_task_application` (`application_id`),
  KEY `idx_followup_task_cat` (`cat_id`),
  KEY `idx_followup_task_user` (`user_id`),
  KEY `idx_followup_task_handler` (`handler_id`),
  KEY `idx_followup_task_status_plan` (`status`,`plan_date`),
  KEY `idx_followup_task_agreement` (`agreement_id`),
  KEY `idx_followup_task_adopter` (`adopter_id`),
  KEY `idx_followup_task_type` (`task_type`),
  KEY `idx_followup_task_plan_date` (`plan_date`)
) ENGINE=InnoDB AUTO_INCREMENT=19 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `followup_task`
--

LOCK TABLES `followup_task` WRITE;
/*!40000 ALTER TABLE `followup_task` DISABLE KEYS */;
/*!40000 ALTER TABLE `followup_task` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notice_target_role`
--

DROP TABLE IF EXISTS `notice_target_role`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `notice_target_role` (
  `notice_id` varchar(12) NOT NULL,
  `role_code` varchar(20) NOT NULL,
  PRIMARY KEY (`notice_id`,`role_code`),
  CONSTRAINT `fk_notice_target_role_notice` FOREIGN KEY (`notice_id`) REFERENCES `t_notice` (`notice_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notice_target_role`
--

LOCK TABLES `notice_target_role` WRITE;
/*!40000 ALTER TABLE `notice_target_role` DISABLE KEYS */;
/*!40000 ALTER TABLE `notice_target_role` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `operation_log`
--

DROP TABLE IF EXISTS `operation_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `operation_log` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `operator_id` varchar(12) DEFAULT NULL,
  `operator_name` varchar(80) DEFAULT NULL,
  `operation_type` varchar(60) NOT NULL,
  `target_type` varchar(40) NOT NULL,
  `target_id` varchar(40) NOT NULL,
  `request_ip` varchar(64) DEFAULT NULL,
  `before_data` text,
  `after_data` text,
  `remark` varchar(500) DEFAULT NULL,
  `status` varchar(30) NOT NULL DEFAULT 'SUCCESS',
  `deleted` tinyint(1) NOT NULL DEFAULT '0',
  `create_by` varchar(12) DEFAULT NULL,
  `update_by` varchar(12) DEFAULT NULL,
  `create_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `update_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_operation_operator` (`operator_id`),
  KEY `idx_operation_type` (`operation_type`),
  KEY `idx_operation_target` (`target_type`,`target_id`),
  KEY `idx_operation_create_time` (`create_time`)
) ENGINE=InnoDB AUTO_INCREMENT=97 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `operation_log`
--

LOCK TABLES `operation_log` WRITE;
/*!40000 ALTER TABLE `operation_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `operation_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `system_message`
--

DROP TABLE IF EXISTS `system_message`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `system_message` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` varchar(12) NOT NULL,
  `message_type` varchar(40) NOT NULL,
  `title` varchar(120) NOT NULL,
  `content` varchar(1000) NOT NULL,
  `related_type` varchar(40) DEFAULT NULL,
  `related_id` varchar(40) DEFAULT NULL,
  `read_flag` tinyint(1) NOT NULL DEFAULT '0',
  `read_time` datetime DEFAULT NULL,
  `status` varchar(30) NOT NULL DEFAULT 'VALID',
  `deleted` tinyint(1) NOT NULL DEFAULT '0',
  `create_by` varchar(12) DEFAULT NULL,
  `update_by` varchar(12) DEFAULT NULL,
  `create_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `update_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `receiver_id` varchar(12) DEFAULT NULL,
  `biz_type` varchar(40) DEFAULT NULL,
  `biz_id` varchar(40) DEFAULT NULL,
  `read_status` varchar(20) NOT NULL DEFAULT 'UNREAD',
  PRIMARY KEY (`id`),
  KEY `idx_message_user_read` (`user_id`,`read_flag`),
  KEY `idx_message_type` (`message_type`),
  KEY `idx_message_related` (`related_type`,`related_id`),
  KEY `idx_message_create_time` (`create_time`),
  KEY `idx_message_receiver_read` (`receiver_id`,`read_status`),
  KEY `idx_message_biz` (`biz_type`,`biz_id`)
) ENGINE=InnoDB AUTO_INCREMENT=321 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `system_message`
--

LOCK TABLES `system_message` WRITE;
/*!40000 ALTER TABLE `system_message` DISABLE KEYS */;
/*!40000 ALTER TABLE `system_message` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `t_application`
--

DROP TABLE IF EXISTS `t_application`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `t_application` (
  `application_id` varchar(12) NOT NULL,
  `user_id` varchar(12) NOT NULL,
  `cat_id` varchar(12) NOT NULL,
  `housing_info` varchar(200) NOT NULL,
  `family_attitude` varchar(200) NOT NULL,
  `pet_experience` varchar(300) NOT NULL,
  `economic_ability` varchar(200) NOT NULL,
  `promise_accepted` tinyint(1) NOT NULL DEFAULT '1',
  `apply_status` varchar(20) NOT NULL,
  `review_note` varchar(200) DEFAULT NULL,
  `interview_note` varchar(300) DEFAULT NULL,
  `agreement_no` varchar(30) DEFAULT NULL,
  `applied_at` datetime NOT NULL,
  `reviewed_at` datetime DEFAULT NULL,
  `handed_over_at` datetime DEFAULT NULL,
  `initial_auditor_id` varchar(12) DEFAULT NULL,
  `initial_audit_note` varchar(500) DEFAULT NULL,
  `initial_audited_at` datetime DEFAULT NULL,
  `final_auditor_id` varchar(12) DEFAULT NULL,
  `final_audit_note` varchar(500) DEFAULT NULL,
  `final_audited_at` datetime DEFAULT NULL,
  `risk_score` decimal(5,2) DEFAULT NULL,
  `risk_tags` varchar(500) DEFAULT NULL,
  `deleted` tinyint(1) NOT NULL DEFAULT '0',
  `create_by` varchar(12) DEFAULT NULL,
  `update_by` varchar(12) DEFAULT NULL,
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `commitment_text` varchar(1000) DEFAULT NULL,
  `extra_reason` varchar(1000) DEFAULT NULL,
  `score` int DEFAULT NULL,
  `risk_level` varchar(20) DEFAULT NULL,
  `score_reasons` varchar(1000) DEFAULT NULL,
  `cancel_reason` varchar(500) DEFAULT NULL,
  PRIMARY KEY (`application_id`),
  KEY `idx_t_application_user_cat_status` (`user_id`,`cat_id`,`apply_status`),
  KEY `idx_application_status_risk` (`apply_status`,`risk_level`),
  KEY `idx_application_cat_user_status` (`cat_id`,`user_id`,`apply_status`),
  CONSTRAINT `fk_application_cat` FOREIGN KEY (`cat_id`) REFERENCES `t_cat` (`cat_id`),
  CONSTRAINT `fk_application_user` FOREIGN KEY (`user_id`) REFERENCES `t_user` (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `t_application`
--

LOCK TABLES `t_application` WRITE;
/*!40000 ALTER TABLE `t_application` DISABLE KEYS */;
/*!40000 ALTER TABLE `t_application` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `t_article`
--

DROP TABLE IF EXISTS `t_article`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `t_article` (
  `article_id` int NOT NULL AUTO_INCREMENT,
  `title` varchar(100) NOT NULL,
  `type_name` varchar(40) DEFAULT NULL,
  `cover_url` varchar(255) DEFAULT NULL,
  `summary` varchar(300) DEFAULT NULL,
  `content` text NOT NULL,
  `source` varchar(80) DEFAULT NULL,
  `source_url` varchar(255) DEFAULT NULL,
  `tags` varchar(255) DEFAULT NULL,
  `hits` int NOT NULL DEFAULT '0',
  `praise_count` int NOT NULL DEFAULT '0',
  `published` tinyint(1) NOT NULL DEFAULT '1',
  `pinned` tinyint(1) NOT NULL DEFAULT '0',
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`article_id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `t_article`
--

LOCK TABLES `t_article` WRITE;
/*!40000 ALTER TABLE `t_article` DISABLE KEYS */;
INSERT INTO `t_article` VALUES (1,'校园猫咪认养前需要确认的五件事','认养指南','/uploads/cats/cat_01_01.jpg','从住所、预算、假期照护、医疗和回访配合五个角度做认养准备。','认养不是把猫带回家这一刻结束，而是从这一刻开始。请提前确认门窗防护、同住人态度、长期预算、寒暑假安置和回访配合。','平台编辑','','认养,照护,回访',12,3,1,1,'2026-05-10 10:00:00','2026-05-10 10:00:00'),(2,'猫咪绝育和疫苗记录怎么看','医疗科普','/uploads/cats/cat_08_01.jpg','帮助认养人理解健康等级、疫苗、绝育和复查建议。','查看医疗记录时，重点关注最近体检时间、健康等级、疫苗和绝育状态。如果出现退养或异常回访，系统会保留完整记录供志愿者追踪。','合作医院','','医疗,疫苗,绝育',8,2,1,0,'2026-05-11 10:00:00','2026-05-11 10:00:00');
/*!40000 ALTER TABLE `t_article` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `t_audit_log`
--

DROP TABLE IF EXISTS `t_audit_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `t_audit_log` (
  `log_id` varchar(12) NOT NULL,
  `operator` varchar(30) NOT NULL,
  `action` varchar(40) NOT NULL,
  `target_type` varchar(30) NOT NULL,
  `target_id` varchar(30) NOT NULL,
  `detail` varchar(300) DEFAULT NULL,
  `created_at` datetime NOT NULL,
  PRIMARY KEY (`log_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `t_audit_log`
--

LOCK TABLES `t_audit_log` WRITE;
/*!40000 ALTER TABLE `t_audit_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `t_audit_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `t_cat`
--

DROP TABLE IF EXISTS `t_cat`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `t_cat` (
  `cat_id` varchar(12) NOT NULL,
  `cat_name` varchar(30) DEFAULT NULL,
  `found_place` varchar(100) NOT NULL,
  `found_date` date DEFAULT NULL,
  `gender` char(1) DEFAULT NULL,
  `color` varchar(30) DEFAULT NULL,
  `age_estimate` varchar(30) DEFAULT NULL,
  `personality` varchar(200) DEFAULT NULL,
  `health_level` varchar(10) NOT NULL,
  `sterilized` tinyint(1) NOT NULL DEFAULT '0',
  `vaccinated` tinyint(1) NOT NULL DEFAULT '0',
  `cat_status` varchar(20) NOT NULL,
  `cover_url` varchar(255) DEFAULT NULL,
  `tags` varchar(255) DEFAULT NULL,
  `description` varchar(500) DEFAULT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  `adoption_conditions` varchar(500) DEFAULT NULL,
  `deleted` tinyint(1) NOT NULL DEFAULT '0',
  `create_by` varchar(12) DEFAULT NULL,
  `update_by` varchar(12) DEFAULT NULL,
  `found_area` varchar(100) DEFAULT NULL,
  `source_clue_id` varchar(12) DEFAULT NULL,
  PRIMARY KEY (`cat_id`),
  KEY `idx_t_cat_status_deleted` (`cat_status`,`deleted`),
  KEY `idx_t_cat_health_status` (`health_level`,`cat_status`),
  KEY `idx_t_cat_source_clue` (`source_clue_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `t_cat`
--

LOCK TABLES `t_cat` WRITE;
/*!40000 ALTER TABLE `t_cat` DISABLE KEYS */;
/*!40000 ALTER TABLE `t_cat` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `t_cat_photo`
--

DROP TABLE IF EXISTS `t_cat_photo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `t_cat_photo` (
  `photo_id` varchar(12) NOT NULL,
  `cat_id` varchar(12) NOT NULL,
  `photo_url` varchar(255) NOT NULL,
  `angle_code` varchar(30) NOT NULL,
  `photo_scene` varchar(80) DEFAULT NULL,
  `is_cover` tinyint(1) NOT NULL DEFAULT '0',
  `recognition_weight` decimal(4,2) NOT NULL DEFAULT '1.00',
  `feature_note` varchar(300) DEFAULT NULL,
  `uploaded_at` datetime NOT NULL,
  `feature_vector` text,
  PRIMARY KEY (`photo_id`),
  KEY `fk_cat_photo_cat` (`cat_id`),
  CONSTRAINT `fk_cat_photo_cat` FOREIGN KEY (`cat_id`) REFERENCES `t_cat` (`cat_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `t_cat_photo`
--

LOCK TABLES `t_cat_photo` WRITE;
/*!40000 ALTER TABLE `t_cat_photo` DISABLE KEYS */;
/*!40000 ALTER TABLE `t_cat_photo` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `t_comment`
--

DROP TABLE IF EXISTS `t_comment`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `t_comment` (
  `comment_id` int NOT NULL AUTO_INCREMENT,
  `user_id` varchar(12) NOT NULL,
  `source_type` varchar(20) NOT NULL,
  `source_id` int NOT NULL,
  `reply_to_id` int DEFAULT NULL,
  `content` varchar(600) NOT NULL,
  `created_at` datetime NOT NULL,
  PRIMARY KEY (`comment_id`),
  KEY `fk_comment_user` (`user_id`),
  CONSTRAINT `fk_comment_user` FOREIGN KEY (`user_id`) REFERENCES `t_user` (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `t_comment`
--

LOCK TABLES `t_comment` WRITE;
/*!40000 ALTER TABLE `t_comment` DISABLE KEYS */;
/*!40000 ALTER TABLE `t_comment` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `t_donation_channel`
--

DROP TABLE IF EXISTS `t_donation_channel`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `t_donation_channel` (
  `channel_id` varchar(12) NOT NULL,
  `channel_name` varchar(50) NOT NULL,
  `qr_url` varchar(255) NOT NULL,
  `description` varchar(500) NOT NULL,
  `enabled` tinyint(1) NOT NULL DEFAULT '1',
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`channel_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `t_donation_channel`
--

LOCK TABLES `t_donation_channel` WRITE;
/*!40000 ALTER TABLE `t_donation_channel` DISABLE KEYS */;
INSERT INTO `t_donation_channel` VALUES ('DN260508001','校园猫咪公益支付宝码','/uploads/catalog/alipay-qr.jpg','扫码用于校园猫咪文创购买和爱心捐赠，正式上线时替换为真实公益账户。',1,'2026-05-08 17:15:00');
/*!40000 ALTER TABLE `t_donation_channel` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `t_donation_record`
--

DROP TABLE IF EXISTS `t_donation_record`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `t_donation_record` (
  `donation_id` varchar(12) NOT NULL,
  `user_id` varchar(12) NOT NULL,
  `amount` decimal(10,2) NOT NULL,
  `channel_id` varchar(12) DEFAULT NULL,
  `donor_message` varchar(300) DEFAULT NULL,
  `donate_status` varchar(20) NOT NULL,
  `created_at` datetime NOT NULL,
  PRIMARY KEY (`donation_id`),
  KEY `fk_donation_user` (`user_id`),
  CONSTRAINT `fk_donation_user` FOREIGN KEY (`user_id`) REFERENCES `t_user` (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `t_donation_record`
--

LOCK TABLES `t_donation_record` WRITE;
/*!40000 ALTER TABLE `t_donation_record` DISABLE KEYS */;
INSERT INTO `t_donation_record` VALUES ('DN260625391','U2026050703',8.80,'DN260508001','??????','RECORDED','2026-06-25 02:44:51');
/*!40000 ALTER TABLE `t_donation_record` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `t_favorite`
--

DROP TABLE IF EXISTS `t_favorite`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `t_favorite` (
  `user_id` varchar(12) NOT NULL,
  `cat_id` varchar(12) NOT NULL,
  `created_at` datetime NOT NULL,
  PRIMARY KEY (`user_id`,`cat_id`),
  KEY `fk_favorite_cat` (`cat_id`),
  CONSTRAINT `fk_favorite_cat` FOREIGN KEY (`cat_id`) REFERENCES `t_cat` (`cat_id`),
  CONSTRAINT `fk_favorite_user` FOREIGN KEY (`user_id`) REFERENCES `t_user` (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `t_favorite`
--

LOCK TABLES `t_favorite` WRITE;
/*!40000 ALTER TABLE `t_favorite` DISABLE KEYS */;
INSERT INTO `t_favorite` VALUES ('U2026050703','CAT260501001','2026-06-25 00:05:37'),('U2026050703','CAT260501005','2026-06-25 00:18:20');
/*!40000 ALTER TABLE `t_favorite` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `t_forum_post`
--

DROP TABLE IF EXISTS `t_forum_post`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `t_forum_post` (
  `post_id` int NOT NULL AUTO_INCREMENT,
  `user_id` varchar(12) NOT NULL,
  `type_name` varchar(40) DEFAULT NULL,
  `title` varchar(100) NOT NULL,
  `content` text NOT NULL,
  `cover_url` varchar(255) DEFAULT NULL,
  `hits` int NOT NULL DEFAULT '0',
  `praise_count` int NOT NULL DEFAULT '0',
  `status` varchar(20) NOT NULL DEFAULT 'PUBLISHED',
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`post_id`),
  KEY `fk_forum_post_user` (`user_id`),
  CONSTRAINT `fk_forum_post_user` FOREIGN KEY (`user_id`) REFERENCES `t_user` (`user_id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `t_forum_post`
--

LOCK TABLES `t_forum_post` WRITE;
/*!40000 ALTER TABLE `t_forum_post` DISABLE KEYS */;
INSERT INTO `t_forum_post` VALUES (1,'U2026050703','照护交流','第一次接猫回家要准备什么？','建议提前准备航空箱、猫砂盆、基础猫粮和隔离空间，前几天不要频繁打扰。','/uploads/cats/cat_02_01.jpg',5,1,'PUBLISHED','2026-05-12 09:00:00','2026-05-12 09:00:00');
/*!40000 ALTER TABLE `t_forum_post` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `t_generic_collect`
--

DROP TABLE IF EXISTS `t_generic_collect`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `t_generic_collect` (
  `user_id` varchar(12) NOT NULL,
  `source_type` varchar(20) NOT NULL,
  `source_id` int NOT NULL,
  `title` varchar(100) NOT NULL,
  `image_url` varchar(255) DEFAULT NULL,
  `created_at` datetime NOT NULL,
  PRIMARY KEY (`user_id`,`source_type`,`source_id`),
  CONSTRAINT `fk_collect_user` FOREIGN KEY (`user_id`) REFERENCES `t_user` (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `t_generic_collect`
--

LOCK TABLES `t_generic_collect` WRITE;
/*!40000 ALTER TABLE `t_generic_collect` DISABLE KEYS */;
/*!40000 ALTER TABLE `t_generic_collect` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `t_medical_record`
--

DROP TABLE IF EXISTS `t_medical_record`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `t_medical_record` (
  `medical_id` varchar(12) NOT NULL,
  `cat_id` varchar(12) NOT NULL,
  `check_date` date NOT NULL,
  `hospital` varchar(80) NOT NULL,
  `health_level` varchar(10) NOT NULL,
  `vaccinated` tinyint(1) NOT NULL DEFAULT '0',
  `sterilized` tinyint(1) NOT NULL DEFAULT '0',
  `treatment` varchar(300) DEFAULT NULL,
  `doctor_note` varchar(300) DEFAULT NULL,
  `created_at` datetime NOT NULL,
  `record_type` varchar(30) NOT NULL DEFAULT 'CHECKUP',
  `abnormal_flag` tinyint(1) NOT NULL DEFAULT '0',
  `attachment_url` varchar(500) DEFAULT NULL,
  `deleted` tinyint(1) NOT NULL DEFAULT '0',
  `create_by` varchar(12) DEFAULT NULL,
  `update_by` varchar(12) DEFAULT NULL,
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `hospital_user_id` varchar(12) DEFAULT NULL,
  `cost` decimal(10,2) DEFAULT NULL,
  PRIMARY KEY (`medical_id`),
  KEY `idx_t_medical_cat_type` (`cat_id`,`record_type`),
  KEY `idx_medical_record_type_date` (`record_type`,`check_date`),
  KEY `idx_medical_hospital_user` (`hospital_user_id`),
  CONSTRAINT `fk_medical_cat` FOREIGN KEY (`cat_id`) REFERENCES `t_cat` (`cat_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `t_medical_record`
--

LOCK TABLES `t_medical_record` WRITE;
/*!40000 ALTER TABLE `t_medical_record` DISABLE KEYS */;
/*!40000 ALTER TABLE `t_medical_record` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `t_notice`
--

DROP TABLE IF EXISTS `t_notice`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `t_notice` (
  `notice_id` varchar(12) NOT NULL,
  `title` varchar(80) NOT NULL,
  `content` varchar(1000) NOT NULL,
  `publisher` varchar(30) NOT NULL,
  `published_at` datetime NOT NULL,
  `pinned` tinyint(1) NOT NULL DEFAULT '0',
  `enabled` tinyint(1) NOT NULL DEFAULT '1',
  `notice_type` varchar(30) NOT NULL DEFAULT 'SYSTEM',
  `publish_status` varchar(30) NOT NULL DEFAULT 'PUBLISHED',
  `publisher_id` varchar(12) DEFAULT NULL,
  `publish_time` datetime DEFAULT NULL,
  `sort_order` int NOT NULL DEFAULT '0',
  `deleted` tinyint(1) NOT NULL DEFAULT '0',
  `create_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `update_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `image_url` varchar(255) DEFAULT NULL,
  `target_roles` varchar(120) NOT NULL DEFAULT 'STUDENT,VOLUNTEER,HOSPITAL,ADMIN',
  PRIMARY KEY (`notice_id`),
  KEY `idx_notice_publish_type` (`publish_status`,`notice_type`),
  KEY `idx_notice_sort_publish` (`sort_order`,`publish_time`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `t_notice`
--

LOCK TABLES `t_notice` WRITE;
/*!40000 ALTER TABLE `t_notice` DISABLE KEYS */;
/*!40000 ALTER TABLE `t_notice` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `t_rescue_report`
--

DROP TABLE IF EXISTS `t_rescue_report`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `t_rescue_report` (
  `report_id` varchar(12) NOT NULL,
  `reporter_name` varchar(30) NOT NULL,
  `reporter_phone` varchar(20) NOT NULL,
  `found_place` varchar(100) NOT NULL,
  `color` varchar(30) DEFAULT NULL,
  `gender` char(1) DEFAULT NULL,
  `health_description` varchar(300) NOT NULL,
  `urgent` tinyint(1) NOT NULL DEFAULT '0',
  `photo_url` varchar(255) NOT NULL,
  `report_status` varchar(20) NOT NULL,
  `reported_at` datetime NOT NULL,
  `verifier_id` varchar(12) DEFAULT NULL,
  `verify_note` varchar(500) DEFAULT NULL,
  `verified_at` datetime DEFAULT NULL,
  `linked_cat_id` varchar(12) DEFAULT NULL,
  `deleted` tinyint(1) NOT NULL DEFAULT '0',
  `create_by` varchar(12) DEFAULT NULL,
  `update_by` varchar(12) DEFAULT NULL,
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `reporter_id` varchar(12) DEFAULT NULL,
  `found_area` varchar(100) DEFAULT NULL,
  `found_time` datetime DEFAULT NULL,
  `urgency_level` varchar(20) NOT NULL DEFAULT 'NORMAL',
  `verify_user_id` varchar(12) DEFAULT NULL,
  `verify_result` varchar(30) DEFAULT NULL,
  `verify_comment` varchar(500) DEFAULT NULL,
  `verify_time` datetime DEFAULT NULL,
  `created_cat_id` varchar(12) DEFAULT NULL,
  `update_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`report_id`),
  KEY `idx_t_report_status` (`report_status`),
  KEY `idx_report_reporter_status` (`reporter_id`,`report_status`),
  KEY `idx_report_urgency_status` (`urgency_level`,`report_status`),
  KEY `idx_report_verify_user` (`verify_user_id`),
  KEY `idx_report_created_cat` (`created_cat_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `t_rescue_report`
--

LOCK TABLES `t_rescue_report` WRITE;
/*!40000 ALTER TABLE `t_rescue_report` DISABLE KEYS */;
/*!40000 ALTER TABLE `t_rescue_report` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `t_user`
--

DROP TABLE IF EXISTS `t_user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `t_user` (
  `user_id` varchar(12) NOT NULL,
  `user_name` varchar(30) NOT NULL,
  `school_no` varchar(20) NOT NULL,
  `phone` varchar(20) NOT NULL,
  `id_card` varchar(18) NOT NULL,
  `college` varchar(80) NOT NULL,
  `pet_experience` varchar(300) DEFAULT NULL,
  `role_code` varchar(20) NOT NULL,
  `status` tinyint(1) NOT NULL DEFAULT '1',
  `created_at` datetime NOT NULL,
  `password_hash` varchar(120) NOT NULL DEFAULT '',
  `token_version` int NOT NULL DEFAULT '0',
  PRIMARY KEY (`user_id`),
  UNIQUE KEY `school_no` (`school_no`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `t_user`
--

LOCK TABLES `t_user` WRITE;
/*!40000 ALTER TABLE `t_user` DISABLE KEYS */;
/*!40000 ALTER TABLE `t_user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `warning_record`
--

DROP TABLE IF EXISTS `warning_record`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `warning_record` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `warning_type` varchar(40) NOT NULL,
  `warning_level` varchar(20) NOT NULL,
  `related_type` varchar(40) NOT NULL,
  `related_id` varchar(40) NOT NULL,
  `cat_id` varchar(12) DEFAULT NULL,
  `user_id` varchar(12) DEFAULT NULL,
  `application_id` varchar(12) DEFAULT NULL,
  `task_id` bigint DEFAULT NULL,
  `title` varchar(120) NOT NULL,
  `description` varchar(800) DEFAULT NULL,
  `handle_status` varchar(30) NOT NULL DEFAULT 'PENDING',
  `handler_id` varchar(12) DEFAULT NULL,
  `handle_opinion` varchar(500) DEFAULT NULL,
  `handled_time` datetime DEFAULT NULL,
  `status` varchar(30) NOT NULL DEFAULT 'VALID',
  `deleted` tinyint(1) NOT NULL DEFAULT '0',
  `create_by` varchar(12) DEFAULT NULL,
  `update_by` varchar(12) DEFAULT NULL,
  `create_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `update_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `biz_type` varchar(40) DEFAULT NULL,
  `biz_id` varchar(40) DEFAULT NULL,
  `content` varchar(1000) DEFAULT NULL,
  `handle_comment` varchar(500) DEFAULT NULL,
  `handle_time` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_warning_type_level` (`warning_type`,`warning_level`),
  KEY `idx_warning_status` (`handle_status`),
  KEY `idx_warning_related` (`related_type`,`related_id`),
  KEY `idx_warning_cat` (`cat_id`),
  KEY `idx_warning_user` (`user_id`),
  KEY `idx_warning_application` (`application_id`),
  KEY `idx_warning_task` (`task_id`),
  KEY `idx_warning_handler` (`handler_id`),
  KEY `idx_warning_biz` (`biz_type`,`biz_id`),
  KEY `idx_warning_user_status` (`user_id`,`handle_status`),
  KEY `idx_warning_task_type_status` (`task_id`,`warning_type`,`handle_status`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `warning_record`
--

LOCK TABLES `warning_record` WRITE;
/*!40000 ALTER TABLE `warning_record` DISABLE KEYS */;
/*!40000 ALTER TABLE `warning_record` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-07-07  2:51:31
